[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/yiyanwannian/rocksdb.git
	branch = tikv-5.0-houfa

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/yiyanwannian/titan.git
	branch = tikv-5.0-houfa
